<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Voice to Image | How does it work?</title>
  <link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
  <div id="explanation">
    <h1>How does it work?</h1>
    <p>This app uses the HTML5 Web Speech API. The first word spoken into the microphone is saved and used to conduct a google image search. Either a random image or the first few images are then returned to the page</p>
  </div>
  <footer>
    <a href="/">Back</a>
  </footer>
</body>
</html>
